<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="style_sheet.css">
  <h2> Your Bookmark Manager: </h2>
  <ul>
    <% @bookmarks.each do |bookmark| %>
      <li class="bookmark" id="bookmark-<% bookmark.id %>">
        <a href="<%=bookmark.url%>"> <%= bookmark.title %>
        </a>
        <form action="/bookmarks/<%= bookmark.id %>" method="post">
          <input type='hidden' name='_method' value='DELETE'/>
          <input type="submit" value="Delete"/>
          </form>
      </li>
    <% end %>
  </ul>
</head>
<body>
<form action="/bookmarks/create" method="post">
  <h3> Enter Title: </h3>
  <input type="text" name="title" placeholder="TITLE">
  <br>
  <h3> Enter URL: </h3>
  <input type="text" name="url" placeholder="URL">
  <br>
  <input type="submit" value="Add Bookmark!">
  <br>
</form>
</body>
</html>
